.SkillsBoxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 250px;
}

.BoxSkill {
    background: linear-gradient(180deg, #284370, #293659);
    border-radius: 15px;
    margin: 0px 20px 40px 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 3px solid transparent;
    border-radius: 15px;
}

.BoxSkill:hover{
    border: 3px solid #5C50B2;
    border-radius: 15px;
}
    

.BoxSkill a{
    width: 100%;
    justify-content: center;
    display: flex;
}

.BoxSkill a img {
    margin: 40px 0px 40px 0px;
}

@media (max-width: 1440px) {
    .SkillsBoxes {
        margin: 200px 150px 0px 150px;
    }
    .BoxSkill {
        border-radius: 15px;
        margin: 0px 15px 30px 15px;
    }
    .BoxSkill a img {
        margin: 30px 0px 30px 0px;
    }
    .BoxSkill:hover{
        border: 3px solid #5C50B2;
        border-radius: 15px;
    }
  }
  
  @media (max-width: 1370px) {
    .SkillsBoxes {
        margin: 180px 130px 0px 130px;
    }
    .BoxSkill {
        border-radius: 12px;
        margin: 0px 12px 24px 12px;
    }
    .BoxSkill a img {
        margin: 30px 0px 30px 0px;
    }
    .BoxSkill:hover{
        border: 3px solid #5C50B2;
        border-radius: 12px;
    }
  }
  
  @media (max-width: 1080px) {
    .SkillsBoxes {
        margin: 120px 110px 0px 110px;
    }
    .BoxSkill {
        border-radius: 10px;
        margin: 0px 8px 16px 8px;
    }
    .BoxSkill a img {
        margin: 30px 0px 30px 0px;
        width: 100px;
        height: auto;
    }
    .BoxSkill:hover{
        border: 3px solid #5C50B2;
        border-radius: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .SkillsBoxes {
        margin: 80px 40px 0px 40px;
    }
    .BoxSkill {
        border-radius: 6px;
        margin: 0px 4px 8px 4px;
    }
    .BoxSkill a img {
        margin: 6px 0px 6px 0px;
        width: 40px;
        height: auto;
    }
    .BoxSkill:hover{
        border: 3px solid #5C50B2;
        border-radius: 6px;
    }
  }

  @media (max-width: 360px) {
    .SkillsBoxes {
        margin: 30px 15px 0px 15px;
    }
    .BoxSkill {
        border-radius: 5px;
        margin: 0px 4px 8px 4px;
    }
    .BoxSkill a img {
        margin: 6px 0px 6px 0px;
        width: 40px;
        height: auto;
    }
    .BoxSkill:hover{
        border: 3px solid #5C50B2;
        border-radius: 5px;
    }
  }

