.About {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
    margin: 0px 250px 0px 250px;
    padding: 200px 0px 0px 0px;
    background-color: #010103;
}

@media (max-width: 1440px) {
    .About {
        font-size: 38px;
        line-height: 56px;
        margin: 0px 200px 0px 200px;
        padding: 200px 0px 0px 0px;
        
    }
  }
  
  @media (max-width: 1370px) {
    .About {
        font-size: 34px;
        line-height: 52px;
        margin: 0px 200px 0px 200px;
        padding: 200px 0px 0px 0px;
    }
  }
  
  @media (max-width: 1080px) {
    .About {
        font-size: 30px;
        line-height: 42px;
        margin: 0px 160px 0px 160px;
        padding: 120px 0px 0px 0px;
    }
  }
  
  @media (max-width: 480px) {
    .About {
        font-size: 16px;
        line-height: 20px;
        margin: 0px 60px 0px 60px;
        padding: 100px 0px 0px 0px;
    }
  }